main {
    max-width: 840px;
}

nav {
    background-color: beige;
    padding: 1rem;
}

nav a {
    color: blue;
    padding: 1px;
    display: block;
}

h1 {
    color: blueviolet;
}


aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #e0e0e0;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}